{% extends 'bootstrap/base.html'%}

{% import 'macros.html' as macro%}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{% block content %}
 
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading">
            <h1>News Highlights</h1>
        </div>
    </div>
    
    <div class="row up">
        <div class="col-md-12 categories">
            <h2>General News</h2>
        </div>
        {{macro.displaySoures(general)}}
    </div>
    <div class="row up">
        <div class="col-md-12 categories">
            <h2>Technology News</h2>
        </div>
        {{macro.displaySoures(technology)}}
    </div>
    <div class="row up">
        <div class="col-md-12 categories">
            <h2>Science News</h2>
        </div>
        {{macro.displaySoures(science)}}
    </div>
    <div class="row up">
        <div class="col-md-12 categories">
            <h2>Entertainment News</h2>
        </div>
        {{macro.displaySoures(entertainment)}}
    </div>
    
    
    
    
    
    <div class="row up">
        <div class="col-md-12 categories">
            <h2>Sports News</h2>
        </div>
        {{macro.displaySoures(sports)}}
    </div>
    
   
    
   

    <div class="row up">
        <div class="col-md-12 categories">
            <h2>Health News</h2>
        </div>
        {{macro.displaySoures(health)}}
    </div>

    <div class="row up" >
        <div class="col-md-12 categories">
            <h2 >Business News</h2>
        </div>
        {{macro.displaySoures(business)}}
    </div>
</div>
  {% endblock %}
 
  
